pre {
  background: #252e30;
  border-radius: 3px;
  padding: 10px;
  color: #f8f8ff;;
  line-height: 20px;
}
.attr {
  color: #c1e2fd; 
}
.attrv {
  color: #ffb374;
}
.sign {
  color: #c1c1c1;
}
.tag {
  color: #8ab8fc;
}